@value colors: "/src/colors.css";
@value primary from colors;
.header {
  width: 100vw;
  height: 100px;
  background-color: primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 5px;
  flex-shrink: 0;
}

.shopLogo {
  flex-shrink: 0;
}

.shopImg {
  width: 202px;
  height: 90px;
}

.shoppingCart {
  color: white;
}

.cartIcon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartSection{
  position: relative;
}
.cartCount {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20px;
  width: 20px;
  border: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 999px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;

  z-index: 2;
}

.cartCountNormal{
  composes: cartCount;
  background-color: primary;
}

.cartCountFill{
  composes: cartCount;
  background-color: white;
}