html {
  min-width: 100vw;
  min-height: 100vh;
}
body {
  min-width: 100vw;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
}
